@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: translateY(2px);
    transition: 0.3s;
    opacity: 0.7;
}

.nav {
    background-color: #322E41;
}

.nav__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    display: block;
    padding: 23px 22px;
    transition: 0.5s;
}

.nav__link:hover {
    background-color: #fff;
    color: #D47300;
    transition: 0.5s;
    transform: translateY(10px);
    border-radius: 10px;
}

.intro {
    background-image: url(../Images/introBg.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.intro__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.intro__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.intro__text span {
    font-weight: 700;
}

.about__box {
    display: flex;
    gap: 30px;
    transform: translateY(-50px);
}

.about__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 540px;
    height: 467px;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
}

body {
    background: #ece9e9;
}

.left__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    color: #2C2A2A;
}

.left__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #9B9B9B;
}

.about__right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.right__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    height: 218px;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
}

.item__img {
    border: 2px solid #D47300;
    border-radius: 50%;
    padding: 20px 10px;
}

.item__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    color: #2C2A2A;
}

.item__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9B9B9B;
}

.footer {
    background-color: #322E41;
    padding: 40px 0;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    gap: 10px;
}

.form__textarea,
.form__input {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
}

.form__textarea {
    resize: none;
    height: 86px;
}

.form__textarea::placeholder,
.form__input::placeholder {
    color: #9B9B9B;
}

.form__btn {
    background-color: #544294;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 9px 0;
    border-radius: 6px;
}

.footer__card {
    display: flex;
    gap: 73px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    transition: 0.2s;
}
.footer__link:hover{
    color: #D47300;
    transition: 0.2s;
}